{% extends 'base.html' %} {% block content %}
<head>
  <link rel="stylesheet" href="../../../static/CSS/styles_Add_Debtors.css" />
  <title>Add Debtor Details</title>
</head>

<div class="container">
  <div class="main_Container">
    <!-- DashBoard SideBar-->
    <main class="Dashboard_sidebar">
      <!-- Container for the Logo-->
      <div class="logo_">
        <ul>
          <li>
            <i><img src="../../../static/IMG/Logo.png" alt="" />MyDebtor</i>
          </li>
        </ul>
      </div>
      <!-- Container for Picture and Welcome Back -->
      <div class="Pic_Wel">
        <img src="../../../static/IMG/Pic.png" alt="" />
        <h4>HI {{ request.user }}</h4>
        <h4>Welcome Back</h4>
      </div>
      <!-- Container for the Navigation Bar-->
      <div class="Dash_Nav">
        <div class="Dash_Nav1">
          <ul>
            <li class="Nav_Bar">
              <a href=""
                ><i
                  ><img
                    src="../../../static/IMG/Dashboard.jpg"
                    alt=""
                  />DashBoard</i
                ></a
              >
            </li>
            <li class="Nav_Bar">
              <a href=""
                ><i
                  ><img
                    style="height: 40px"
                    src="../../../static/IMG/Schools.jpg"
                    alt=""
                  />School</i
                ></a
              >
            </li>
            <li class="Nav_Bar">
              <a href=""
                ><i
                  ><img
                    src="../../../static/IMG/Debtors.jpg"
                    alt=""
                  />Debtors</i
                ></a
              >
            </li>
            <li class="Nav_Bar">
              <a href=""
                ><i
                  ><img src="../../../static/IMG/Posts.jpg" alt="" />Posts</i
                ></a
              >
            </li>
            <li class="Nav_Bar">
              <a href=""
                ><i
                  ><img
                    src="../../../static/IMG/Profile.jpg"
                    alt=""
                  />Profile</i
                ></a
              >
            </li>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <li class="Nav_Bar">
              <a href="{% url 'logout' %}"
                ><i
                  ><img src="../../../static/IMG/Log out.jpg" alt="" />Log
                  Out</i
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>

  <div class="container3">
    <!-- Search Icon and Notification-->
    <div class="Icon_container">
      <section>
        <ul>
          <li>
            <input
              type="text"
              id="search"
              placeholder="Search, debtors, students, School...."
              name="search"
            />
          </li>
          <li><img src="../../../static/IMG/pic & Bell.jpg" alt="" /></li>
        </ul>
      </section>
    </div>

    <!-- Picture of the Debtor-->
    <div class="Debtorpic_Bar">
      <section><img src="../../../static/IMG/DebtorPic.jpg" alt="" /></section>
    </div>

    <!-- Form to fill the Debtors Details-->
    <div class="Debtor_Info_Container">
      <div class="DebtorDetails">
        <form class="form_Add_Debtors" action="" method="POST">
          <!--The Labels of the Debtors Info-->
          <div class="label_Deb_Info">
            {% csrf_token %}
            <section>
              <ul>
                <li>
                  <label for="full_name">
                    Name of Debtor: {{form.debtor_name}}</label
                  >
                </li>
                <li>
                  <label for="full_name">
                    Name of ward: {{form.ward_name}}</label
                  >
                </li>
                <li>
                  <label for="School_category">
                    Name of School: {{form.school}}</label
                  >
                </li>

                <li>
                  <label for="Class_Debt"> Class: {{form.debtor_class }}</label>
                </li>

                <li>
                  <label for="Date_">
                    Date: <input type="date" id="date_" name="Date_"
                  /></label>
                </li>

                <li>
                  <label for="Amount_Indebt">
                    Amount Indebted: {{form.amount_indebted }}</label
                  >
                </li>

                <li>
                  <label for="phone_number">
                    Phone Number: {{form.phone_no}}</label
                  >
                </li>

                <li><label for="email">Email: {{form.email}}</label></li>
              </ul>
              {{form.errors}}
              <input type="submit" value="Add Deptor" />
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
