@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    "Dashboard_sideBar search_Bar Search_Bar Search_Bar Search_Bar"
    "Dashboard_sideBar population_Bar population_Bar population_Bar population_Bar"
    "Dashboard_sideBar mostWanted_Bar mostWanted_Bar mostWanted_Bar mostWanted_Bar"
    "Dashboard_sideBar Documentation_Bar Documentation_Bar Documentation_Bar Documentation_Bar";
    gap: 5px;
    
    
        
}
.item{
    
    text-align: center;
    border-radius: 5px;
    
    
}
.Dashboard_sideBar{
    grid-area: Dashboard_sideBar;
    
    text-align: center;
    border: 2px blue;
    background-color: #e6f2ed;
    
   
    
    
    
}
.search_Bar {
    grid-area: search_Bar;
    border-radius: 2px;
    
     
    
   
}
.population_Bar{
    grid-area: population_Bar;
    border: 2px green;
    
    
}
.mostWanted_Bar{
    grid-area: mostWanted_Bar;
    border: 2px goldenrod;
   
          
}

.Documentation_Bar{
    grid-area: Documentation_Bar;
    border: 2px red;
    
  
    
}


li{
    list-style: none;
}




table, th, td {
    /*border: 1px solid;*/
    text-align: center;
    padding: 5px;
    border-spacing: 5px;
    border-collapse:collapse;
    font-weight:bold;
    border-width:thick;
    
    width: max-content;
    
  }
/*Adding style to the Table*/
.Heading-1{
  background-color:#e6f2ed;
}
.sub-heading{
  background-color: #fbfbfb;
}
.row-1{
  background-color:#efefef;
}
.row-2{
  background-color:#fbfbfb;
}
.row-3{
  background-color: #efefef;
}
.row-4{
  background-color: #fbfbfb;
}
.row-5{
  background-color: #efefef;
}
.row-6{
  background-color: #fbfbfb;
}
.row-7{
  background-color: #efefef;
}
.row-8{
  background-color: #fbfbfb;
}
.row-9{
  background-color: #efefef;
}
#Score-Info h2{
  text-align:auto;
  width:10%;
}
.BIO{
    width: 40%;
}