* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;
}

/* Navbar stylying begins */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    background: #F8FCFA;
    box-shadow: 0px 10px 20px rgba(1, 51, 29, 0.07);
    align-items: center;
    gap: 290px;
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 231px;
    height: 50px;
}
.logo img {
    width: 60px;
    height: 50px;
}
.logo h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #00361E;
    width: 155px;
}
.link {
    display: flex;
    align-items: center;
    width: 650px;
    height: 48px;
    gap: 32px;
}
.nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 423px;
    height: 36px;
}
.nav__item {
    padding: 10px;
}
.nav_link {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.nav_link:hover {
    color: #1C7700;
    font-weight: 700;
}
.nav__btn {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 195px;
    height: 48px;
}
.nav__btn a {
    padding: 10px 15px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #008147;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.nav__btn a:hover {
    color: #008147;
    border: 1px solid #008147;
    background-color: #ffffff;
}
#header__toggle,
#header__close {
    display: none;
}
@media screen and (max-width: 500px) {
    header {
        height: 60px;
        padding: 0 20px;
    }   
    .logo {
        gap: 8px;
        width: 120px;
        height: 26px;
    }
    .logo img {
        width: 30px;
        height: 26px;
    }
    .logo h2 {
        font-size: 16px;
        line-height: 21px;
        width: 81px;
    }
    #header__toggle {
        display: inline;
        color: #114600;
        font-size: 24px;
    }
    #header__close {
        position: absolute;
        display: block;
        right: 24px;
        font-size: 24px;
        border-radius: 50%;
    }
    #header__close:hover {
        background-color: #008147;
    }
    .nav,
    .nav__btn {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #008147;
        color: #1E1E1E;
        width: 60%;
        text-align: center;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
    }
    .nav__item {
        padding: 10px;
    }
    .nav_link {
        color: #ffffff;
    }
    .show {
        right: 0;
    }
}
.sign-up {
    display: flex;
    gap: 10px;
}
.signup-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.signup-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-left: 140px;
}
h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #008147;
    width: 116px;
}
.signup-intro p {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #1E1E1E;
    width: 311px;
}
.signup-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 426px;
    margin-top: 40px;
    margin-left: 150px;
    height: 612px;
}
label {
    display: block;
    margin: 5px 0 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}
input {
    width: 100%;
    border: 1px solid #989898;
    border-radius: 10px;
    padding: 16px;
    align-items: center;
    margin-top: 5px;
}
input::placeholder {
    font-weight: 400;
    font-size: 12px;
    color: #1E1E1E;
    line-height: 16px;
}
.signup-img {
    height: 1041px;
    width: 566px;
    margin-left: 100px;
}
button {
    background: #008147;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    cursor: pointer;
}
button:hover {
    border: 1px solid #008147;
    color: #008147;
    background: transparent;
}
.para {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.para p {
    color: #1E1E1E;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.para p a {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #008147;
    text-decoration: none;
}