{% extends 'base.html' %}

{% block content %}
  <head>
    <link rel="stylesheet" href="../static/CSS/about.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>About Us</title>
  </head>
  <body>
    <!--Navbar section-->

    <!-- About section -->
    <section>
        <div class="head">
            <img src="../static/IMG/unisex.png" alt="Two people looking at a PC">
            <h2>About Us</h2>
        </div>
        <div class="values">
            <h2>Core Values</h2>
            <div class="core">
                <div class="words">
                    <div class="words-content">
                        <h3>Integrity</h3>
                        <p>We are focused on being honest and having strong moral principles.</p>
                    </div>
                    <div class="words-content">
                        <h3>Transparency</h3>
                        <p>All records here show proof of transparency for all schols to see and for a parent to contend for his integrity.</p>
                    </div>
                    <div class="words-content">
                        <h3>Team Work</h3>
                        <p>We believe that team work makes the dream work.</p>
                    </div>
                    <div class="words-content">
                        <h3>Commitment</h3>
                        <p>The commitment to see school owners excel at their business is at the core of out services.</p>
                    </div>
                </div>
                <div class="books">
                    <img src="../static/IMG/books.png" alt="library books">
                </div>
            </div>
        </div>
        <div class="mis-vis">
            <h2>Mission and Vision</h2>
            <div class="mis-vis-content">
                <div class="mis">
                    <h3>Mission</h3>
                    <p>Building a system of transpareny to eradicate non-compliance in finance and reneumeration for service.</p>
                </div>
                <div class="vis">
                    <h3>Vision</h3>
                    <p>To create a tangible impact in the reduction of debt and debt recovery.</p>
                </div>
            </div>
        </div>
        <div class="team">
            <h2>Meet Our Team</h2>
            <div class="team-ppl">
                <div class="person">
                <img src="../static/IMG/fresh.png" alt="/">
                <p>Nelson Nkana Product Designer</p>
                </div>
                <div class="person">
                <img src="../static/IMG/alice.png" alt="/">
                <p>Alice Awobite UX Writer</p>
                </div>
                <div class="person">
                <img src="../static/IMG/beard.png" alt="/">
                <p>Otobong Morgan Product Designer</p>
                <div class="person">
                <img src="../static/IMG/Dev.jpg" alt="/">
                <p>Olojede Taofeek - FullStack Developer</p>
                </div>
                <div class="person">
                <img src="../static/IMG/alice.png" alt="/">
                <p>Alice Awobite UX Writer</p>
                        </div>
                        <div class="person">
                            <img src="../static/IMG/alice.png" alt="/">
                            <p>Alice Awobite UX Writer</p>
                            </div>
            </div>
        </div>
    </section>
    <script src="js/app.js"></script>
  </body>
{% endblock %}