{% extends 'base.html' %} {% block content %}


<h1>School Registration page</h1>
<form action="" method="post">
  
  {% csrf_token %}
  
  <p> {{form.first_name.label}} {{form.first_name}}  </p>
  <p> {{form.last_name.label}} {{form.last_name}}  </p>
  <p> {{form.email.label}} {{form.email}}  </p>
  <p> {{form.school_name.label}} {{form.school_name}}  </p>
  <p> {{form.phone_number.label}} {{form.phone_number}}  </p>
  <p> {{form.cac.label}} {{form.cac}}  </p>
  <p>{{form.password1.label}} {{form.password1}}</p>
  <p>{{form.password2.label}} {{form.password2}}</p>

  {{form.errors}}
  <input type="submit" value="Create Account">
</form>
{% endblock content %}