<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="CSS/signup2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="IMG/Vector.png"
          alt="Two hands holding money"
        />
        <h2>MyDebtor</h2>
      </div>
      <div class="link">
      <nav class="nav" id="nav-menu">
        <i class="bx bx-x" id="header__close"></i>
        <ul>
          <li class="nav__item"><a href="/" class="nav_link">Home</a></li>
          <li class="nav__item"><a href="Frontend/about.html" class="nav_link">About Us</a></li>
          <li class="nav__item"><a href="Frontend/FAQs.html" class="nav_link">FAQs</a></li>
          <li class="nav__item"><a href="Frontend/contact.html" class="nav_link">Contact Us</a></li>
        </ul>
      </nav>
      <div class="nav__btn">
        <a href="login.html">Log in</a>
        <a href="signup.html">Sign up</a>
      </div>
      <i class="bx bx-menu" id="header__toggle"></i>
      </div>
    </header>

    <div class="sign-up">
      <div class="signup-con">
        <div class="signup-intro">
        <h1>Sign Up</h1>
        <p>Enter your details below to get started</p>
        </div>
        <div class="signup-details">
          <label for="fullname">Full name <input type="text" placeholder="Enter full name" name="fullname" required></label>
          <label for="email">Email <input type="email" placeholder="Enter full name" name="email" required></label>
          <label for="category">Category <input type="text" placeholder="Enter school" name="category" required></label>
          <label for="schoolname">School Name <input type="text" placeholder="Enter school name" name="schoolname" required></label>
          <label for="CAC-No">CAC Number <input type="tel" placeholder="Enter number" name="CAC-No" required></label>
          <label for="date">Date of Establishment <input type="date" name="date" required></label>
          <label for="psw">Password <input type="password" placeholder="Enter Password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></label>
          <button>Sign Up</button>
          <div class="para">
          <p>Already have an account? <a href="login.html">Login</a></p>
        </div>
        </div>
      </div>
      <div class="signup-img">
        <img src="IMG/Laptop.png" alt="Laptop with a hand typing" />
      </div>
    </div>
  </body>
</html>