* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;
}
/* Navbar styling begins */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    background: #F8FCFA;
    box-shadow: 0px 10px 20px rgba(1, 51, 29, 0.07);
    align-items: center;
    gap: 290px;
    height: 100px;
    width: 100%;
}
nav{
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 20%;
    height: 50px;
}
.logo img {
    width: 60px;
    height: 50px;
}
.logo h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #00361E;
    width: 155px;
}
.link {
    display: flex;
    align-items: center;
    width: 650px;
    height: 48px;
    gap: 32px;
}
.nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 36px;
}
.nav__item {
    padding: 10px;
}
.nav_link {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.nav_link:hover {
    color: #1C7700;
    font-weight: 700;
}
.nav ul .btns{
    padding: 10px 15px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #008147;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.nav ul .btns:hover {
    color: #008147;
    border: 1px solid #008147;
    background-color: #ffffff;
}
#header__toggle,
#header__close {
    display: none;
}
@media screen and (max-width: 500px) {
    header {
        height: 60px;
        padding: 0 20px;
    }   
    .logo {
        gap: 8px;
        width: 120px;
        height: 26px;
    }
    .logo img {
        width: 30px;
        height: 26px;
    }
    .logo h2 {
        font-size: 16px;
        line-height: 21px;
        width: 81px;
    }
    #header__toggle {
        display: inline;
        color: #114600;
        font-size: 24px;
    }
    #header__close {
        position: absolute;
        display: block;
        right: 24px;
        font-size: 24px;
        border-radius: 50%;
    }
    #header__close:hover {
        background-color: #008147;
    }
    .nav,
    .nav__btn {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #008147;
        color: #1E1E1E;
        width: 60%;
        text-align: center;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
    }
    .nav__item {
        padding: 10px;
    }
    .nav_link {
        color: #ffffff;
    }
    .show {
        right: 0;
    }
    .nav ul .btns {
        display: inline;
        color: #008147;
        border: 1px solid #008147;
        background: #ffffff;
    } 
}
/* Navbar styling ends */

/* About styling begins */
.head img {
    max-width: 100%;
    height: auto;
}
.head h2 {
    position: absolute;
    top: 350px;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    color: #fcfafa;
    left: 560px;
}
.values {
    margin-top: 40px;
    margin-bottom: 120px;
}
.values h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #008147;
}
.core {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.words {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    width: 550px;
    margin-left: 120px;
}
.words-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 50px;
}
.words-content h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #008147;
    width: 213px;
}
.words-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #4B4B4B;
    width: 382px;
}
.books {
    margin-left: 120px;
}
.mis-vis {
    background: #FFFBE6;
    padding-top: 80px;
    padding-bottom: 120px;
}
.mis-vis h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #008147;
}
.mis-vis-content {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.mis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 430px;
    margin-left: 200px;
}
.mis h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #008147;
    width: 118px;
}
.mis p {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #4B4B4B;
    width: 430px;
}
.vis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    width: 430px;
    margin-left: 150px;
}
.vis h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #008147;
    width: 96px;
}
.vis p {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #4B4B4B;
    width: 430px;
}
.team {
    margin-top: 100px;
}
.team h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #008147;
}
.team-ppl {
    margin-top: 40px;
    text-align: center;
}
.team-ppl img {
    padding: 10px;
}